.mat-table {
    width: 100%;
    min-height: 300px;
    margin-top: 10px;
}

.spinner-container {
    height: 300px;
    width: 100%;
    position: fixed;
}

.mat-table-empty {
  min-height: 180px;
}

.spinner-container mat-spinner {
    margin: 130px auto 0 auto;
}

.flex-vert-center {
  display: flex;
  align-items: center;
}

.flex-vert-center > mat-icon {
  margin-right: 10px;
}

/* Structure */
.grid-container {
  position: relative;
}

.grid-table-container {
  position: relative;
  min-height: 360px;
  overflow: auto;
}

table {
  width: 100%;
}

.grid-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}

.main-header {
  z-index: 1000;
}

.hide {
  display: none!important;
}

.mat-paginator-container {
  min-height: auto!important;
}

.mat-cell {
  height: auto!important;
  .mat-icon {
    margin-right: 0.3em;
  }
  div, a {
    display: flex;
    margin-bottom: 0.5em;
    color: black;
  }
  a {
    cursor: pointer;
  }
  a:link, a:visited {
    text-decoration: none;
  }
}

.job-details-card {
  .mat-card-header-text {
    margin: 0px!important;
  }  
}
